.place__image {
  width: 460px;
  display: block;
}


@media screen and (max-width: 1279px) {
  .place__image {
    max-width: 440px;
    width: 100%;
  }
}


@media screen and (max-width: 1023px) {
  .place__image {
    margin: 0 auto;
    max-width: 340px;
    width: 100%;
  }
}


@media screen and (max-width: 767px) {
  .place__image {
    max-width: 288px;
    max-width: 100%;
  }
}
