.lead__caption {
  max-width: 158px;
  font-size: 10px;
  font-weight: 400;
  line-height: 1.4;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 1.5px;
  text-align: left;
  margin-top: 8px;
}

@media screen and (max-width: 1023px) {
  .lead__caption {
    padding-left: 24px;
  }
}

@media screen and (max-width: 767px) {
  .lead__caption {
    padding-left: 16px;
  }
}