.place {
  display: grid;
  grid-gap: 48px 40px;
  grid-template-columns: minmax(440px, 460px) minmax(456px, 484px);
  margin-bottom: 80px;
}


@media and (max-width: 1279px) {
  .place {
    grid-template-columns: 1fr 1fr;
  }
}

@media and (max-width: 1023px) {
  .place {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-gap: 48px 28px;
  }
}

@media (max-width: 767px) {
  .place {
    grid-template-columns: 1fr;
    grid-gap: 32px 0;
  }
}